Cython==0.29.28
biopython==1.79
reportlab==3.6.8
pandas==1.4.1
pysam==0.18.0
cnvkit==0.9.10
intervaltree==3.1.0
Flask>=2.2.5
matplotlib==3.5.1
numpy>=1.22.2
scipy==1.7.3
mosek==10.0.38
future==0.18.3