Cython==0.29.28
biopython==1.85
reportlab==4.3.1
pandas==2.2.3
pysam==0.23.0
cnvkit==0.9.13
intervaltree==3.1.0
Flask>=2.2.5
matplotlib==3.9.0
numpy==2.2.3
scipy==1.14.1
mosek==10.0.38
future==0.18.3
torch==2.3.1+cpu
